* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    background: linear-gradient(#60306c,#28132c);
    color: #a0a0a0;
    font-size: 125%;
}

nav a, figure a {display: block;} /* le lien devient tt le block (pas seulement le texte) */

/* text S */
p{
    text-align: justify;
    text-indent: 2em;
    margin: 15px;
    padding-bottom: .5em;
    line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 {font-variant: small-caps;}
h1 {color: #ffae00; text-align: center; font-size: 2.4em;}
h2 {color: brown; text-align: center;  font-size: 2em; margin-top: 0.8em;}
h3 {color: deepskyblue;   font-size: 1.6em; margin-left: 4rem; margin-top: 0.8em;}
h4 {color: rgb(199, 122, 230);   font-size: 1.3em; margin-left: 6rem; margin-top: 0.8em;}
h5 {color: mediumturquoise;   font-size: 1.05em; margin-left: 8rem; margin-top: 0.8em;}
h6 {font-size: 0.9rem; text-align: center; margin-top: 0.8em;}
h2:first-of-type, h3:first-of-type, h4:first-of-type, h5:first-of-type, h6:first-of-type {margin-top: 0rem;}

.accentTxt {color: #ffae00; font: 1.1em auto;}
.accentTxt2 {color: rgb(0, 37, 78); font: 1.1em auto;}
/* Text E */

/* Links S*/
a:link, a:visited {color: #ffae00; text-decoration: none;}
a:hover, a:active {text-decoration:underline;}
/* Links E*/

/* Header START */
header {
    background-color: black;
    /* background-size: 100% 100%; z-index: 4;*/
    align-items: center;
    position: relative;
    
    }
/* header END */ 

/* Menu START */
nav{
    display: block;
    position: sticky;
    overflow: auto;
    top: 0px;
    font-size: 1.25em;
    background-color: #000000;
    text-align: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* line-height: 1rem; */
    /* justify-content: space-evenly; */
    /* align-items: stretch; */
    }
nav li{
    flex: 1 1 auto; /* (<flex-grow> | <flex-shrink> | <flex-basis>) */
    line-height: 3rem;
    margin-left: 5px;
    padding: 0px 5px;
    /* float: left; Menu devient horizontal */
    }
nav li:hover, nav figure:hover{
    background-color: #4d2556;
    }
/* Menu END */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: start;
  }
  .grid-c2{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
  }

main, aside{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    justify-content: center;
}

article{
    flex: 0 1 auto;
    /* columns: 30rem 5; */
    background-color: rgb(32, 23, 53, 0.70);
    border-radius: 10px;
    margin: 0.34rem 0.8rem;
    padding: 0.67rem;
    border: 1px solid #ffae00;
    box-shadow: 5px 5px #666666;
}
article li{
    padding: 0.2em 0.1em;
    margin:0.5em;
    margin-left:1.5em;
}
.article-left{
    background-color: rgb(0, 37, 78);
    font-size: 1.1rem;
    border-radius: 10px;
    margin-right: 0em;
    padding: 0.3em;
}
/* article p {
    columns: 30rem 5;
} */
ul.liStyle1  > li{
    list-style-type: square;
}

/* Footer START */
footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    }
footer p {
    font-size: 1.1rem;
    text-align: center;
    }
/* Footer END

/* illustrations S */
img{
    max-width: 98%;
    max-height: 100%;
    border: 1px solid #00000000;
}
figure{ 
    display: inline-block;
    border: 1px solid #ffae0000;
    text-align: center;
    font-size: 0.7rem;
    
}
figure a:hover {
    border: 1px solid #ffae00;
    box-shadow: 3px 3px #666666;
  }
.fig0{
    max-width: 480px;
}
.fig1, .fig2{margin: 1.2em;}
.fig1{
    float: right;
    /* clear:left; */
    width: 30%;
    max-width: 480px;
    height: auto;
}
.fig2{
    float: right;
    width: 40%;
    max-width: 640px;
    height: auto;
}
.icon{
    width: 46px;
    min-width: 46px;
    min-height: 46px;
    display: block;
}
/* illustrations E */

.toTop{
    position: fixed;
    bottom: 0.67rem;
    right: 1rem;
    display: block;
}
.clear:after {content: ""; display: table; clear: both;}

@media only screen and (max-width: 800px) {
    .grid-container, .grid-c2 {
        display: block;
      }
      article li{
        padding: 0.1em 0.05em;
        margin:0.5em 0em;
      }
      .fig0 {
        max-width: 300px;
    }
    .fig1 {
      width: 49%;
      margin: 1.2em .8em;
    }
    .fig2 {
        width: 60%;
        margin: 1.2em .8em;
      }
}
  @media only screen and (max-width: 500px) {
    .fig1 {
      width: 100%;
      /* margin: 1.2em .8em; */
      clear: both;
    }
    .fig2 {
        width: 100%;
        /* margin: 1.2em .8em; */
      }
  }
